/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-container {
  margin: 20px;
}

.todo-item {
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}
