@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-nanum-square-r: 'NanumSquareR';
  --font-nanum-square-b: 'NanumSquareB';
}

body {
  font-family: var(--font-nanum-square-r);
}

html,
body {
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  box-sizing: border-box; /* 레이아웃 계산을 쉽게 하기 위한 설정 */
}

.todo-container {
  margin: 20px;
}

.todo-item {
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}
